/* CSS Menu From Foundation */

p{
    font-family: "mr-eaves-sans", sans-serif; 
}
.menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.35s ease;
    font-family: "sommet", sans-serif;
    font-size: 1.5em;
}

.menu-hover-lines li a {
    padding: 0.5rem 0rem 0.5rem 0;
    margin: .15em 0em 0.2em 0.5em;
    color: rgba(44, 44, 44, 0.5);
    position: relative; 
}

.menu-hover-lines li:first-child a {
    margin-left: 0;
}

.menu-hover-lines li.active>a {
    background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: #9f1938;
    width: 0;
}

.menu-hover-lines a::before {
    top: 0;
    left: 0;
}

.menu-hover-lines a::after {
    bottom: 0;
    right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active>a {
    color:black;
    transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
    width: 100%;
}

.welcome {
    padding: 1em 2em 0em 5em;
    background: black url("../images/index/welcomebgg.jpg");
    color: white;
    height: 31em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    text-align: right;
}

.welcome p {
    font-size: 1.2em;
    line-height: 1.2;
    text-align: left;
    
   
}

.welcome h1 {
    font-size: 5em;
    line-height: 1.2;
    font-family: "relationtwo", cursive;
    text-align: center; 
    
}

iframe {
    padding-top: 2em;
    display: block;
    margin: 0 auto;
    width: 75%; 
    height: 25em;
    
}

.bookrow{
    padding: 2em .5em 2em .5em;  
}
.bookrow img {
    padding: .5em 0em .7em 0em;
}
.bookrow h3{
    font-weight: 600;
    font-size: 1.7em;
    font-family: "sommet", sans-serif;
    color: #9f1938;
}
.bookrow p{
    
}
/* This is for super small screens */
    
@media only screen and (max-width: 639px) {
    .menu-hover-lines {
        -ms-flex-pack: center;
        justify-content: center;
    }
    /* removing underline effect for small screens */
    .menu-hover-lines a:before,
    .menu-hover-lines a::after {
        height: 0px;
        position: absolute;
        content: '';
        transition: all 0.35s ease;
        background-color: #9f1938;
        width: 0;
    }
    .menu-hover-lines {
        -ms-flex-pack: center;
        justify-content: center;
    }
    /* removing underline effect for small screens */
    .menu-hover-lines a:before,
    .menu-hover-lines a::after {
        height: 0px;
        position: absolute;
        content: '';
        transition: all 0.35s ease;
        background-color: #9f1938;
        width: 0;
    }
    .welcome {
        margin: 2em 0em 0em 0em;
        padding: 1em 1em 0em 1em;
        background: black;
        color: white;
        height: 24em;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
    }
    .menu-hover-lines {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.35s ease;
        font-family: "sommet", sans-serif;
        font-size: 2em;
    }
    .menu-hover-lines a:hover,
    .menu-hover-lines li.active>a {
        color: #9f1938;
    }
    .brand {
     margin-top: 1em;
    }
    iframe {
    
    width: 100%; 
    height: 25em;   
}
    .bookrow{
        
    } 
    .bookrow img{
        display: block;
        height: 400px;
        margin: 0 auto;
    }
    .bookrow h3{
        text-align: center;
    }
}




/* This is for medium screens */

@media only screen and (min-width: 640px) {
    .linkleft {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}


/* min-width 641px, medium screens */
